<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>결제페이지</title>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <!-- iamport.payment.js -->
  <script src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
  <script>
      function requestPay() {
    const amount = document.getElementById("price").value;
    if (!amount || isNaN(amount) || amount <= 0) {
      alert("유효한 결제 금액을 입력해주세요.");
      return;
    }
    
    const IMP = window.IMP; 
    IMP.init("imp42785863"); 

    IMP.request_pay({
      pg : 'kicc', 
      pay_method : 'card',
      merchant_uid : 'merchant_' + new Date().getTime(),
      name : '주문명:결제테스트',
      amount: amount,
      buyer_email : 'iamport@siot.do',
      buyer_name : '구매자이름',
      buyer_tel : '010-1234-5678',
      buyer_addr : '서울특별시 강남구 삼성동',
      buyer_postcode : '123-456',
      m_redirect_url : 'https://www.yourdomain.com/payments/complete'
    }, function(rsp) {
      if (rsp.success) {
        // Sending payment data to your server
        axios.post('/payments/verify/', {
          imp_uid: rsp.imp_uid,
          merchant_uid: rsp.merchant_uid,
          paid_amount: rsp.paid_amount,
          apply_num: rsp.apply_num
        })
        .then(response => {
          alert('서버에서 결제를 확인했습니다.');
          console.log(response.data);
        })
        .catch(error => {
          alert('서버에서 결제를 확인하지 못했습니다.');
          console.error(error);
        });
      } else {
        var msg = '결제에 실패하였습니다.';
        msg += '에러내용 : ' + rsp.error_msg;
        alert(msg);
      }
    });
  }
  </script>
</head>
<body>
  결제금액: <input type="text" id="price" />
  <button onclick="requestPay()">결제하기</button>
</body>
</html>